<!-- index.html.erb -->
<html>
<head>
  <title>Lexa</title>
</head>
<body>
  <header>
    <h1>Lexa</h1>  
    <ul>
      <li>Attorney 1</li>
      <li>Attorney 2</li>
      <li>Attorney 3</li>
      <li>Attorney 4</li>
    </ul>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <ul>
      <li>About us</li>
      <li>Team</li>
      <li>Terms and Conditions</li>
    </ul>
  </footer>
</body>
</html>