<!-- show.html.erb -->

<h1><%= @lawyer.first_name + " " + @lawyer.last_name %></h1>
<img src="#" width="400px">
<h2>Location: <%= @lawyer.location %> </h2>
<h2>Practice Areas: <%= @lawyer.practice_areas %> </h2>
<h2>Years Experience: <%= @lawyer.years_experience%> </h2>