<body>
<div class="row">
		<div class="medium-7 large-6 columns">
			<h1>Find a great lawyer, fast</h1>
			<p class="subheader">Lexa is the place to find great lawyers fast. Easily create a client account, search for lawyers by location or practice area, and connect with lawyers fast.</p>
			<%= link_to "How It Works", :about, :class => "button" %>
			<%= link_to "Sign Up", '/clients/new', :class => "button" %><br>
			<%= link_to "For Attorneys", '/lawyers/new', :class => "button" %>

		</div>

		<div class="show-for-large large-3 columns">
			<img src="http://placehold.it/400x370&text=PSR1257 + 12 C" alt="picture of space">
		</div>

		<div class="medium-5 large-3 columns">
		<div class="callout secondary">
			<form>
				<div class="row">
				<div class="small-12 columns">
					<label>Find a Qualified Attorney Right Away
					<input type="text" placeholder="Enter Legal Issue">
					</label>
				</div>
		<div class="small-12 columns">
			<label>Location
			<input type="number" placeholder="Location">
			</label>
			<button type="submit" class="button">Search</button>
			</div>
		</div>
		</form>
	</div>
</div>
</div>


	<div class="row column">
		<hr>
	</div>

	<div class="row column">
		<p class="lead">Lexa Has You Covered For All Your Legal Needs</p>
	</div>

	<div class="row small-up-1 medium-up-2 large-up-3">

	<div class="column">

	<div class="callout">
		<h3>Employment</h3>

		<p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>

		<p class="lead">Employment and workplace fairness attorneys</p>

		<p class="subheader">Find the best attorney for your workplace situation</p>
	</div>
</div>


	<div class="column">
		<div class="callout">
			<h3>Immigration</h3>
			<p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
			<p class="lead">Come to the US with confidence</p>
			<p class="subheader">Visas, green cards, and other immigration matters</p>
		</div>
	</div>


	<div class="column">
		<div class="callout">
			<h3>Startups</h3>
			<p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
			<p class="lead">LLC or C Corp?</p>
			<p class="subheader">Connect with a great attorney so you can get on to creating your great company</p>
		</div>
	</div>

	<div class="column">
		<div class="callout">
			<h3>Estate Planning</h3>
			<p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
			<p class="lead">Trusts, wills and estates</p>
			<p class="subheader">Protect your assets</p>
		</div>
	</div>


	<div class="column">
		<div class="callout">
			<h3>Personal Injury</h3>
			<p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
			<p class="lead">Accidents, DUIs, etc.</p>
			<p class="subheader">Recover for harm and losses due to negligence</p>
		</div>
	</div>

	<div class="column">
		<div class="callout">
			<h3>Real Estate</h3>
			<p><img src="http://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
			<p class="lead">Property Lawyers</p>
			<p class="subheader">Keep what's rightfully yours and stuff</p>
		</div>
	</div>
</div>



	</body>