/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 0) and (max-width: 64em) {
  img, form, .button {
    padding: 20px;
  }
  .button {
    margin: 20px;
  }
}

.row {
  max-width: 80rem;
  margin-bottom: 20px;
}

.alert-box {
  margin-bottom: 0;
}

nav.top-bar {
	text-align: center;
}

section.top-bar-section {
	diplay:inline-block;
}

body {
	background-color: gray;
}

.client, .lawyer {
	width: 70%;
	margin-left: 10%;
}

.client {
	margin-right: 10%;
}

.client img {
	width: 150px;
	height: 150px;
}

.lawyer img {
	width: 150px;
	height: 150px;
}

.container h1 {
	text-align:center;
}









